@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.body1 {
    height: 400px;
    position: relative;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(recursos-barberia/fondoBody7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1; 
  }


.horario1{
    padding: 2%;
    color: #020C66;
    font-size: 18px;
    font-weight: bold;
}

.contacto{
    margin-left: 65%;
    margin-top: -6%;
    padding: 2%;
}

.contacto i{
    padding: 2%;
    font-size: 22px;
    color: #494985;
    transition: all ease 1s;
}

.contacto i:hover{
    color: aliceblue;
    transform: scale(1.1);
}

.contacto a{
    font-size: 25px;
    color: aliceblue;
    transition:ease 0.3s;
}

.contacto a:hover{
    color: #020C66;
    transform: scale(1.1);
}

.l1{
    height: 1px;
    background-color: azure;
}

.logoP img{
    width: 15%;
    height: 14%;
    margin-left: 5%;
}


.menu1 ul{
    display: flex;
    margin-left: 45%;
    margin-top: -11%;
}

.menu1 ul li{
    list-style: none;
    padding: 2%;
    transition: all ease 0.3s;
}

.menu1 ul li a{
    color: #020C66;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
   
}

.menu1 ul li:hover{
    transform: scale(1.1);
}

.menu1 ul .agendar {
    width: 130%;
    height: 100%;
    margin-left: 4%;
    border-radius: 25px;
    background: transparent;
    font-size: 23px;
    cursor: pointer;

    transition: ease 0.3s;
}

.menu1 ul .agendar:hover{
    filter: invert(1);
    background-color: #020C66;
}

.cuerpo-header .texto-content{
    text-align: center;
    margin-top: 5%;
}

.cuerpo-header .texto-content h1{
    font-size: 65px;
    color: #020C66;
}

.cuerpo-header .menu2{
    display: flex;
    margin-left: 43%;
    margin-top: 1%;
}

.cuerpo-header .menu2 a,p{
    font-size: 120%;
}

.cuerpo-header .menu2 a{
    color: #1164FF;
}

.cuerpo-header .menu2 p{
    color: #020C66;
    margin-left: 1%;
}

.container {
    position: relative; /* Asegurarse de que el contenedor sea una referencia para la imagen */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 300px;
    margin-top: 0%;
}

.container .section {
    margin-top: 10%;
    width: 30%;
    padding: 10px;
}

.container .section i{
    color: aliceblue;
    margin-left: 2%;
    margin-top: 1%;

    transition: all ease 0.3s;
}

.container .section i:hover{
    color: #bb8c4b;
}

.container h3 {
    color: #fff;
    font-size: 18px;
}

.container p {
    color: #ddd;
}

.image-container {
    position: absolute; 
}

.image-container img {
    max-width: 150px; /* Tamaño máximo de la imagen */
}

.credits {
    text-align: center;
    background-color: #444;
    color: #fff;
    padding: 10px;
}

@media (max-width: 57.5em) {
    .body1 {
        height: 470px;
        position: relative;
      }
      
      .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(recursos-barberia/fondoBody7.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.5;
        z-index: -1; 
      }

      .horario1{
        padding: 2%;
        color: #020C66;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }
    
    .contacto{
        margin-left: 26%;
        margin-top: -3%;
        padding: 2%;
    }
    
    .contacto i{
        padding: 2%;
        font-size: 17px;
        color: #494985;
        transition: all ease 0.3s;
    }
    
    .contacto i:hover{
        filter: invert(1);
        transform: none;
    }
    
    .contacto a{
        font-size: 20px;
        color: aliceblue;
        transition:ease 0.3s;
    }
    
    .contacto a:hover{
        color: #020C66;
        transform: scale(1.1);
    }
    
    
    .logoP img{
        width: 18%;
        height: 15%;
        margin-left: 43%;
    }

    .menu1 ul{
        display: flex;
        margin-left: 7%;
        margin-top: 1%;
    }
    
    .menu1 ul li{
        list-style: none;
        padding: 2%;
        transition: all ease 0.3s;
    }
    
    .menu1 ul li a{
        color: #020C66;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    
    .menu1 ul li:hover{
        transform: none;
    }
    
    .menu1 ul .agendar {
        width: 100%;
        height: 100%;
        margin-left: 3%;
        border-radius: 25px;
        background: transparent;
        font-size: 20px;
        cursor: pointer;
    
        transition: ease 0.3s;
    }
    
    .menu1 ul .agendar:hover{
        filter: invert(1);
        background-color: #020C66;
    }
    
    .cuerpo-header .texto-content{
        text-align: center;
        margin-top: 8%;
    }
    
    .cuerpo-header .texto-content h1{
        font-size: 50px;
        color: #020C66;
    }
    
    .cuerpo-header .menu2{
        display: flex;
        margin-left: 26%;
        margin-top: 9%;
    }
    
    .cuerpo-header .menu2 a,p{
        font-size: 120%;
    }
    
    .cuerpo-header .menu2 a{
        color: #1164FF;
    }
    
    .cuerpo-header .menu2 p{
        color: aliceblue;
        margin-left: 1%;
    }

    .container {
        position: relative; /* Asegurarse de que el contenedor sea una referencia para la imagen */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #333;
        color: #fff;
        padding: 20px;
        height: 600px;
        margin-top: 0%;
    }
    
    .container .section {
        margin-top: 30%;
        width: 30%;
        padding: 10px;
    }
    
    .container .section i{
        color: aliceblue;
        margin-left: 2%;
        margin-top: 1%;
    
        transition: all ease 0.3s;
    }
    
    .container .section i:hover{
        color: #bb8c4b;
    }
    
    .container h3 {
        color: #fff;
        font-size: 18px;
    }
    
    .container p {
        color: #ddd;
    }
    
    .image-container {
        position: absolute; 
    }
    
    .image-container img {
        max-width: 150px; /* Tamaño máximo de la imagen */
    }
    
    .credits {
        text-align: center;
        background-color: #444;
        color: #fff;
        padding: 10px;
    }
    
}


@media (max-width: 828px) {
    .body1 {
        height: 470px;
        position: relative;
      }
      
      .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(recursos-barberia/fondoBody7.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.5;
        z-index: -1; 
      }

      .horario1{
        padding: 2%;
        color: #020C66;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }
    
    .contacto{
        margin-left: 26%;
        margin-top: -3%;
        padding: 2%;
    }
    
    .contacto i{
        padding: 2%;
        font-size: 17px;
        color: #494985;
        transition: all ease 0.3s;
    }
    
    .contacto i:hover{
        filter: invert(1);
        transform: none;
    }
    
    .contacto a{
        font-size: 20px;
        color: aliceblue;
        transition:ease 0.3s;
    }
    
    .contacto a:hover{
        color: #020C66;
        transform: scale(1.1);
    }
    
    
    .logoP img{
        width: 18%;
        height: 15%;
        margin-left: 43%;
    }

    .menu1 ul{
        display: flex;
        margin-left: 7%;
        margin-top: 1%;
    }
    
    .menu1 ul li{
        list-style: none;
        padding: 2%;
        transition: all ease 0.3s;
    }
    
    .menu1 ul li a{
        color: #020C66;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    
    .menu1 ul li:hover{
        transform: none;
    }
    
    .menu1 ul .agendar {
        width: 100%;
        height: 100%;
        margin-left: 3%;
        border-radius: 25px;
        background: transparent;
        font-size: 20px;
        cursor: pointer;
    
        transition: ease 0.3s;
    }
    
    .menu1 ul .agendar:hover{
        filter: invert(1);
        background-color: #020C66;
    }
    
    .cuerpo-header .texto-content{
        text-align: center;
        margin-top: 8%;
    }
    
    .cuerpo-header .texto-content h1{
        font-size: 50px;
        color: #020C66;
    }
    
    .cuerpo-header .menu2{
        display: flex;
        margin-left: 26%;
        margin-top: 9%;
    }
    
    .cuerpo-header .menu2 a,p{
        font-size: 120%;
    }
    
    .cuerpo-header .menu2 a{
        color: #1164FF;
    }
    
    .cuerpo-header .menu2 p{
        color: aliceblue;
        margin-left: 1%;
    }

    .container {
        position: relative; /* Asegurarse de que el contenedor sea una referencia para la imagen */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #333;
        color: #fff;
        padding: 20px;
        height: 600px;
        margin-top: 0%;
    }
    
    .container .section {
        margin-top: 30%;
        width: 30%;
        padding: 10px;
    }
    
    .container .section i{
        color: aliceblue;
        margin-left: 2%;
        margin-top: 1%;
    
        transition: all ease 0.3s;
    }
    
    .container .section i:hover{
        color: #bb8c4b;
    }
    
    .container h3 {
        color: #fff;
        font-size: 18px;
    }
    
    .container p {
        color: #ddd;
    }
    
    .image-container {
        position: absolute; 
    }
    
    .image-container img {
        max-width: 150px; /* Tamaño máximo de la imagen */
    }
    
    .credits {
        text-align: center;
        background-color: #444;
        color: #fff;
        padding: 10px;
    }
    
}

@media (max-width: 428px) {
    .body1 {
        height: 470px;
        position: relative;
      }
      
      .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(recursos-barberia/fondoBody7.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.5;
        z-index: -1; 
      }

      .horario1{
        padding: 2%;
        color: #020C66;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }
    
    .contacto{
        margin-left: 26%;
        margin-top: -3%;
        padding: 2%;
    }
    
    .contacto i{
        padding: 2%;
        font-size: 17px;
        color: #494985;
        transition: all ease 0.3s;
    }
    
    .contacto i:hover{
        filter: invert(1);
        transform: none;
    }
    
    .contacto a{
        font-size: 20px;
        color: aliceblue;
        transition:ease 0.3s;
    }
    
    .contacto a:hover{
        color: #020C66;
        transform: scale(1.1);
    }
    
    
    .logoP img{
        width: 18%;
        height: 15%;
        margin-left: 43%;
    }

    .menu1 ul{
        display: flex;
        margin-left: 7%;
        margin-top: 1%;
    }
    
    .menu1 ul li{
        list-style: none;
        padding: 2%;
        transition: all ease 0.3s;
    }
    
    .menu1 ul li a{
        color: #020C66;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    
    .menu1 ul li:hover{
        transform: none;
    }
    
    .menu1 ul .agendar {
        width: 100%;
        height: 100%;
        margin-left: 3%;
        border-radius: 25px;
        background: transparent;
        font-size: 20px;
        cursor: pointer;
    
        transition: ease 0.3s;
    }
    
    .menu1 ul .agendar:hover{
        filter: invert(1);
        background-color: #020C66;
    }
    
    .cuerpo-header .texto-content{
        text-align: center;
        margin-top: 8%;
    }
    
    .cuerpo-header .texto-content h1{
        font-size: 50px;
        color: #020C66;
    }
    
    .cuerpo-header .menu2{
        display: flex;
        margin-left: 26%;
        margin-top: 9%;
    }
    
    .cuerpo-header .menu2 a,p{
        font-size: 120%;
    }
    
    .cuerpo-header .menu2 a{
        color: #1164FF;
    }
    
    .cuerpo-header .menu2 p{
        color: aliceblue;
        margin-left: 1%;
    }

    .container {
        position: relative; /* Asegurarse de que el contenedor sea una referencia para la imagen */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #333;
        color: #fff;
        padding: 20px;
        height: 600px;
        margin-top: 0%;
    }
    
    .container .section {
        margin-top: 30%;
        width: 30%;
        padding: 10px;
    }
    
    .container .section i{
        color: aliceblue;
        margin-left: 2%;
        margin-top: 1%;
    
        transition: all ease 0.3s;
    }
    
    .container .section i:hover{
        color: #bb8c4b;
    }
    
    .container h3 {
        color: #fff;
        font-size: 18px;
    }
    
    .container p {
        color: #ddd;
    }
    
    .image-container {
        position: absolute; 
    }
    
    .image-container img {
        max-width: 150px; /* Tamaño máximo de la imagen */
    }
    
    .credits {
        text-align: center;
        background-color: #444;
        color: #fff;
        padding: 10px;
    }
    
}

